{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Red Social</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">

	<!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	 <!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'estilos.css' %}">


</head>
<body>


  <nav>
    <div class="nav-wrapper blue lighten-1">
      <a href="{%url 'post:todos'%}" class="brand-logo">Batchbook</a>
      <a href="{%url 'post:todos'%}" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
      	<li><a href="#">Inicia sesion</a></li>
		<li><a href="#">Galeria</a></li>
      </ul>

      <ul class="side-nav" id="mobile-demo">
        <li>
          {%if request.user.is_authenticated%}
          Hola {{request.user.username}}
          {%else%}
            <a href="{%url 'cuentas:login'%}"> Inicia sesión </a>
          {%endif%}
        </li>
        <li><a href="{%url 'cuentas:registro'%}">Regístrate</a></li>
        <li><a href="{%url 'post:todos'%}">Timeline</a></li>
      </ul>

    </div>
  </nav>

<div class="container">	
	{% block content %}

	{% endblock content %}
<!-- Page Content goes here -->
</div>

 	

	<!--Import jQuery before materialize.js-->
  	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

	<!-- Compiled and minified JavaScript -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  	<script type="text/javascript">
  	$(document).ready(function(){
  		$(".button-collapse").sideNav();
  	});
  </script>
  <!-- Intercom -->
  <script>
  window.intercomSettings = {
    app_id: "r6xaxuhk"
  };
  </script>



	
</body>
</html>